.home-page {

    text-align: start;
}

.content-wrapper {
    background: #F5F7FF;
    padding: 2.375rem 2.375rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -0.75rem;
    margin-left: -0.75rem; */
  }
  

.teste{
    width: 40%;
    margin-right: 25px;
}

.spaceb{
    display: flex;
    gap: 15px
}

.card-body img{
    width: 50px;

}