.home-page {

    text-align: start;
}

.content-wrapper {
    background: #F5F7FF;
    padding: 2.375rem 2.375rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -0.75rem;
    margin-left: -0.75rem; */
  }
  

.teste{
    width: 40%;
    margin-right: 25px;
}

.spaceb{
    display: flex;
    gap: 15px
}

.card-body1 img{
    width: 50px;

}

.card.card-light-danger {
    display: flex;
    align-items: center;
    background: #ffffff;
    color: #EB4E50;
    margin-bottom: 15px;
    box-shadow: 1px 1px 7px #d8dada;
    border-radius: 9px;
    
  }

  .card-body2 {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }

  .grid-margin2 {
    margin-bottom: 2.5rem;
    width: 30vw
   
  }
  