.nav {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  color: white;
}

.nav h2 {
  cursor: pointer;
}

.nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav ul li {
  cursor: pointer;
}

/* sidebar */

.sidebar-container{
  background-color: black;
  color: white;
  width: 235px;
  height: calc(100vh - 60px);
  /* overflow-y: scroll;
  overflow-x: hidden; */
}

.nav-option{
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 30px;
  gap: 20px;
  width: 235px;

}

/* cor pro icone?
.nav-option i{ 
  color: white;
  font-size: 20px;
} */